body {
    background-image: url('../img/b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.banner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 500px;
    height: 500px;
    color: white;
}

.lef {
    padding-left: 20px;
    background-color: white;
    width: 70%;
    float: left;
    text-align: left;
    color: gray;
}

.rig {
    padding-right: 20px;
    background-color: white;
    width: 30%;
    float: right;
    text-align: right;
    height: 81px;
}

.form {
    background-color: lightgray;
    padding: 100px 50px 10px 50px;
}

.form-group {
    margin: 10px;
}

.bt {
    border: none;
    background: rgb(66, 61, 61);
    color: white;
}